<?xml version="1.0"?>
<ruleset>
	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Exclude package files -->
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Confirm PHP compat. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP" />

    <!-- Display sniff code -->
    <arg value="s"/>

	<rule ref="WordPress" phpcbf-only="true" />
    <rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="secure-custom-fields"/>
			</property>
		</properties>
	</rule>
</ruleset>
